# Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison Operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

- Boolean values are the two constant objects False and True.
- They are used to represent truth values (other values can be considered false or true)
- In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively
- The built-in function bool() can be used to cast any value to a boolean, if the value can be interpreted as a truth value
- They are written as False and True, respectively.

In [1]:
bool()

False

In [2]:
True

True

In [3]:
False

False

In [4]:
print(True,False)

True False

In [5]:
type(True)

bool

In [6]:
type(False)

bool

### Functions returning boolean value

In [8]:
my_str="Krish Naik"

print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains Lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string ends with certain character
print(my_str.startswith('K')) #test if string starts with certain character

False
False
False
True
False
False
False
True
True

### Boolean and Logical Operators

In [9]:
True and True

True

In [10]:
True and False

False

In [11]:
True or False

True

In [12]:
True or True

True

In [13]:
str_example = 'Hello World'
my_str = 'Krish'

my_str.isalpha() or str_example.isnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ].

In [15]:
lst_example=[]

In [16]:
type(lst_example)

list

In [17]:
lst=list()

In [18]:
type(lst)

list

In [39]:
lst=['Mathematics','Chemistry',100,200,300,204]

In [40]:
type(lst)

list

In [41]:
len(lst)

6

### Append
- Used to add elements in the list at the end
- if we append list of two elements, the list get appended

In [42]:
lst.append("Krish")
lst

['Mathematics', 'Chemistry', 100, 200, 300, 204, 'Krish']

In [43]:
lst.append(["John","Bala"])
lst

['Mathematics', 'Chemistry', 100, 200, 300, 204, 'Krish', ['John', 'Bala']]

### Indexing in List

In [31]:
print(lst[0],lst[1],lst[2],lst[3],lst[4])

Mathematics Chemistry 100 200 300

In [32]:
lst[:]

['Mathematics', 'Chemistry', 100, 200, 300, 204, 'Krish']

In [33]:
lst[1:]

['Chemistry', 100, 200, 300, 204, 'Krish']

In [34]:
lst[1:6]

['Chemistry', 100, 200, 300, 204]

### Insert
- Insert in a specific order
- list_name.insert(index where to store, value)

In [44]:
lst.insert(1,"Naik")

In [45]:
lst

['Mathematics',
 'Naik',
 'Chemistry',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala']]

In [46]:
lst.append(["Hello","World"])

In [47]:
lst

['Mathematics',
 'Naik',
 'Chemistry',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala'],
 ['Hello', 'World']]

### Extend Method
Does not create nested list like append

In [51]:
lst=[1,2,3,4,5,6]
lst.extend([8,9])
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [52]:
lst=[1,2,3,4,5]
sum(lst)

15

In [64]:
lst*2

[1, 1, 2, 3, 4, 5, 1, 1, 2, 3, 4, 5]

In [65]:
lst*5

[1,
 1,
 2,
 3,
 4,
 5,
 1,
 1,
 2,
 3,
 4,
 5,
 1,
 1,
 2,
 3,
 4,
 5,
 1,
 1,
 2,
 3,
 4,
 5,
 1,
 1,
 2,
 3,
 4,
 5]

### Pop() Method

In [53]:
lst.pop()

5

In [54]:
lst

[1, 2, 3, 4]

In [55]:
lst.pop(0)

1

In [56]:
lst

[2, 3, 4]

### count(): Calculates total occurrences of given element of List

In [57]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

### Length: Calculates total Length of List

In [58]:
len(lst)

6

### Index(): Returns the index of first occurence, Start and End index are not necessary parameters

In [59]:
lst.index(1,1,4)

1

In [60]:
lst.index(1)

0

### Min and Max

In [62]:
min(lst)

1

In [63]:
max(lst)

5

## SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on a data structure known as a hash table.

Indexing is not possible in sets.

### Defining an empty set

In [66]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [68]:
set_var={1,2,3,4,3}
set_var

{1, 2, 3, 4}

In [67]:
set_var={"Avengers","IronMan","Hitman"}
print(set_var)
type(set_var)

{'IronMan', 'Hitman', 'Avengers'}

set

### Inbuilt function in sets

In [70]:
set_var.add("Hulk")
print(set_var)

{1, 2, 3, 4, 'Hulk'}

### Set Difference

In [81]:
set1 = {"Avengers","IronMan","Hitman"}
set2 = {"Avengers","IronMan","Hitman","Hulk2"}

In [82]:
set2.difference(set1)

{'Hulk2'}

In [83]:
set2.difference_update(set1)
set2

{'Hulk2'}

### Set Intersection

In [84]:
set1 = {"Avengers","IronMan","Hitman"}
set2 = {"Avengers","IronMan","Hitman","Hulk2"}

In [88]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [89]:
set2.intersection_update(set1)

In [90]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [91]:
set1

{'Avengers', 'Hitman', 'IronMan'}

### Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [92]:
dic={}

In [93]:
type(dic)

dict

In [94]:
set_ex={1,2,3,4,5}

In [95]:
type(set_ex)

set

## Let's create a dictionary

In [96]:
my_dict={"Car1": "Audi","Car2":"BMW","Car3":"Mercedes Benz"}

In [97]:
type(my_dict)

dict

### Access the item values based on keys

In [98]:
my_dict['Car1']

'Audi'

### We can even loop through the dictionary keys

In [100]:
for x in my_dict:
    print(x, my_dict[x])

Car1 Audi
Car2 BMW
Car3 Mercedes Benz

In [101]:
for x in my_dict.values():
    print(x)

Audi
BMW
Mercedes Benz

In [102]:
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedes Benz')

### Adding items in Dictionaries

In [103]:
my_dict['car4']='Audi 2.0'

In [104]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'car4': 'Audi 2.0'}

In [105]:
my_dict['Car1']='Maruti'

In [106]:
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [107]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [108]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

#### Accessing the items in the nested dictionary

In [109]:
print(car_type['car1'])

{'Mercedes': 1960}

In [110]:
print(car_type['car1']['Mercedes'])

1960

# Tuples

### create an empty Tuple
- can't change items of tuple
- can change the whole tuple

In [123]:
my_tuple=tuple()

In [124]:
type(my_tuple)

tuple

In [125]:
my_tuple=()

In [126]:
type(my_tuple)

tuple

In [127]:
my_tuple=("Krish","Ankur","John")

In [128]:
my_tuple[0] # cant change

'Krish'

In [129]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Krish', 'Ankur', 'John')

In [130]:
type(my_tuple)

tuple

### Inbuilt function

In [131]:
my_tuple.count('Krish')

1

In [132]:
my_tuple.index('Ankur')

1